{% extends 'base.html' %} {% load crispy_forms_tags %} {% block title %} Reset
Password {% endblock title %}
{% block additional_styles %}
<style>
  
   .header {
          background: white;
          }
</style>
{% endblock %}
{%block content %}
</div>
</div>
<div style="padding: 20px 0; margin: 0;  background: radial-gradient(#fff,#ffd6d6);">
  <div class="small-container" >
    <h1 class="display-4 my-4">Forgot Password</h1>
    <hr />
    <p>
      Forgotten your password? Enter your email address below, and we’ll email
      instructions for setting a new one.
    </p>
    <form method="POST" class="loginform">
      {% csrf_token %} {{form|crispy}}
      <button class="btn btn-primary" type="submit">Send Reset Link</button>
    </form>
  </div>
  
</div>
{% endblock content %}
