{% extends 'base.html'%} {% load crispy_forms_tags %} {% block title %} Change
Password {% endblock title %} 
{% block additional_styles %}
<style>
  
   .header {
          background: white;
          }
</style>
{% endblock %}
{%block content %}
</div>
</div>

<div style="padding: 0; margin: 0;  background: radial-gradient(#fff,#ffd6d6);">
  <div class="small-container" >
    <div class="crow">
      <div class="col">
        
        
        <form method="POST" class="loginform">
          {% csrf_token %} {{form|crispy}}
          <div class="crow">
            <button class="btn btn-primary" type="submit" style="margin-left: 0;">Change Password</button>
          </div>
          
        </form>
      </div>
    </div>
  </div>
</div>


{% endblock content %}
